In [2]:
import pandas as pd
import os

In [3]:
DEMONSTRATIVOS_PATH= os.path.join("Demonstrativos","Tables","Limpas")
os.listdir(DEMONSTRATIVOS_PATH)

['VALE3_AH.csv', 'PETR4.csv', 'PETR4_AH.csv', 'VALE3.csv']

In [43]:
df_trimestrais = []
df_trimestrais_dict = {}
for base in os.listdir(DEMONSTRATIVOS_PATH):
    df_trimestral = pd.read_csv(os.path.join(DEMONSTRATIVOS_PATH,base))
    df_trimestral.rename(columns={"Unnamed: 0": "Date"}, inplace= True)
    
    df_trimestral["Date"] = pd.to_datetime(df_trimestral["Date"])
    df_trimestral = df_trimestral.sort_values('Date').reset_index(drop=True)

    #df_trimestral.set_index("Date",inplace= True)
    #df_trimestral = df_trimestral.astype(float)
    print(df_trimestral.info())
    df_trimestrais_dict[base[:-4]] = df_trimestral
    # df_trimestrais.append(df_trimestral )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   8 non-null      datetime64[ns]
 1   Receita Líquida - (R$)                 8 non-null      float64
 2   Custos - (R$)                          8 non-null      float64
 3   Lucro Bruto - (R$)                     8 non-null      float64
 4   Despesas/Receitas Operacionais - (R$)  8 non-null      float64
 5   EBITDA - (R$)                          8 non-null      float64
 6   Amortização/Depreciação                7 non-null      float64
 7   EBIT - (R$)                            8 non-null      float64
 8   Resultado Financeiro - (R$)            8 non-null      float64
 9   Impostos - (R$)                        8 non-null      float64
 10  Lucro Líquido - (R$)                   8 non-null      float64
 11  Lucro atribuído a Controladora         8 non-null      float64
 12  Lucro atribuído a Não Controladores    8 non-null      float64
 13  Dívida Bruta - (R$)                    8 non-null      float64
 14  Margem Bruta - (%)                     8 non-null      float64
 15  Margem Ebitda - (%)                    8 non-null      float64
 16  Margem Líquida - (%)                   8 non-null      float64
dtypes: datetime64[ns](1), float64(16)
memory usage: 1.2 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   8 non-null      datetime64[ns]
 1   Receita Líquida - (R$)                 8 non-null      int64
 2   Custos - (R$)                          8 non-null      int64
 3   Lucro Bruto - (R$)                     8 non-null      int64
 4   Despesas/Receitas Operacionais - (R$)  8 non-null      int64
 5   EBITDA - (R$)                          8 non-null      int64
 6   Amortização/Depreciação                8 non-null      int64
 7   EBIT - (R$)                            8 non-null      int64
 8   Resultado Financeiro - (R$)            8 non-null      int64
 9   Impostos - (R$)                        8 non-null      int64
 10  Lucro Líquido - (R$)                   8 non-null      int64
 11  Lucro atribuído a Controladora         8 non-null      int64
 12  Lucro atribuído a Não Controladores    8 non-null      int64
 13  Dívida Bruta - (R$)                    8 non-null      int64
 14  Margem Bruta - (%)                     8 non-null      int64
 15  Margem Ebitda - (%)                    8 non-null      int64
 16  Margem Líquida - (%)                   8 non-null      int64
dtypes: datetime64[ns](1), int64(16)
memory usage: 1.2 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   7 non-null      datetime64[ns]
 1   Receita Líquida - (R$)                 7 non-null      float64
 2   Custos - (R$)                          7 non-null      float64
 3   Lucro Bruto - (R$)                     7 non-null      float64
 4   Despesas/Receitas Operacionais - (R$)  7 non-null      float64
 5   EBITDA - (R$)                          7 non-null      float64
 6   Amortização/Depreciação                7 non-null      float64
 7   EBIT - (R$)                            7 non-null      float64
 8   Resultado Financeiro - (R$)            7 non-null      float64
 9   Impostos - (R$)                        7 non-null      float64
 10  Lucro Líquido - (R$)                   7 non-null      float64
 11  Lucro atribuído a Controladora         7 non-null      float64
 12  Lucro atribuído a Não Controladores    7 non-null      float64
 13  Dívida Bruta - (R$)                    7 non-null      float64
 14  Margem Bruta - (%)                     7 non-null      float64
 15  Margem Ebitda - (%)                    7 non-null      float64
 16  Margem Líquida - (%)                   7 non-null      float64
dtypes: datetime64[ns](1), float64(16)
memory usage: 1.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   9 non-null      datetime64[ns]
 1   Receita Líquida - (R$)                 9 non-null      int64
 2   Custos - (R$)                          9 non-null      int64
 3   Lucro Bruto - (R$)                     9 non-null      int64
 4   Despesas/Receitas Operacionais - (R$)  9 non-null      int64
 5   EBITDA - (R$)                          9 non-null      int64
 6   Amortização/Depreciação                9 non-null      int64
 7   EBIT - (R$)                            9 non-null      int64
 8   Resultado Financeiro - (R$)            9 non-null      int64
 9   Impostos - (R$)                        9 non-null      int64
 10  Lucro Líquido - (R$)                   9 non-null      int64
 11  Lucro atribuído a Controladora         9 non-null      int64
 12  Lucro atribuído a Não Controladores    9 non-null      int64
 13  Dívida Bruta - (R$)                    9 non-null      int64
 14  Margem Bruta - (%)                     9 non-null      int64
 15  Margem Ebitda - (%)                    9 non-null      int64
 16  Margem Líquida - (%)                   9 non-null      int64
dtypes: datetime64[ns](1), int64(16)
memory usage: 1.3 KB
None

In [29]:
df_bolsa = pd.read_csv(os.path.join("Price","Bolsa.csv"))
df_bolsa["Date"] = pd.to_datetime(df_bolsa["Date"])
df_bolsa = df_bolsa.sort_values('Date').reset_index(drop=True)
#df_bolsa.set_index("Date",inplace=True)
print(df_bolsa.info())
df_bolsa.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                499 non-null    datetime64[ns]
 1   Open PETR4.SA       499 non-null    float64
 2   High PETR4.SA       499 non-null    float64
 3   Low PETR4.SA        499 non-null    float64
 4   Close PETR4.SA      499 non-null    float64
 5   Adj Close PETR4.SA  499 non-null    float64
 6   Volume PETR4.SA     499 non-null    float64
 7   Open VALE3.SA       499 non-null    float64
 8   High VALE3.SA       499 non-null    float64
 9   Low VALE3.SA        499 non-null    float64
 10  Close VALE3.SA      499 non-null    float64
 11  Adj Close VALE3.SA  499 non-null    float64
 12  Volume VALE3.SA     499 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 50.8 KB
None

,Date,Open PETR4.SA,High PETR4.SA,Low PETR4.SA,Close PETR4.SA,Adj Close PETR4.SA,Volume PETR4.SA,Open VALE3.SA,High VALE3.SA,Low VALE3.SA,Close VALE3.SA,Adj Close VALE3.SA,Volume VALE3.SA
0,2022-06-01,1.000000,1.014381,0.998328,1.004013,0.535857,1.000000,1.000000,1.030050,0.997796,1.023785,0.873272,1.000000
1,2022-06-02,1.002341,1.005017,0.988294,0.995318,0.531216,1.094602,1.044205,1.047453,1.032602,1.043044,0.889700,0.957481
2,2022-06-03,0.993645,1.018060,0.987625,1.012709,0.540498,1.302972,1.038403,1.042000,1.025177,1.026337,0.875449,0.701930
3,2022-06-06,1.020067,1.021070,1.000334,1.013378,0.540855,0.845980,1.040028,1.041768,1.027381,1.027381,0.876340,0.568676
4,2022-06-07,1.009699,1.046823,1.008696,1.025418,0.547281,1.733078,1.023785,1.054531,1.022276,1.051398,0.896826,1.028406

In [30]:
df_bolsa.describe()

,Open PETR4.SA,High PETR4.SA,Low PETR4.SA,Close PETR4.SA,Adj Close PETR4.SA,Volume PETR4.SA,Open VALE3.SA,High VALE3.SA,Low VALE3.SA,Close VALE3.SA,Adj Close VALE3.SA,Volume VALE3.SA
count,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000
mean,1.057914,1.073876,1.043380,1.059423,0.834080,1.353970,0.842949,0.851737,0.833339,0.841953,0.776859,1.047900
std,0.182043,0.182303,0.182419,0.182515,0.255426,0.762029,0.101530,0.103264,0.100040,0.101797,0.080783,0.455607
min,0.702341,0.739465,0.694649,0.718060,0.469277,0.276717,0.693816,0.698921,0.688711,0.692772,0.654965,0.000000
25%,0.893478,0.907525,0.877592,0.893980,0.601537,0.841482,0.772827,0.778397,0.764706,0.772421,0.718973,0.741139
50%,1.043478,1.059532,1.030100,1.046823,0.749167,1.166023,0.808098,0.816220,0.796844,0.806358,0.746988,0.946449
75%,1.201672,1.219900,1.187458,1.206020,1.068098,1.643788,0.895463,0.907182,0.886878,0.894709,0.831228,1.272243
max,1.430435,1.436120,1.423411,1.434783,1.355039,6.892763,1.135282,1.140387,1.118343,1.137023,1.023603,3.938051

In [52]:
def prepare_df(df_bolsa, name):
    df_stock = df_bolsa[[col for col in df_bolsa.columns if f'{name}' in col]]
    df_stock.columns = [col[:-len(f' {name}.SA')] for col in df_stock.columns]
    df_stock['Date'] = df_bolsa['Date']
    df_stock['stock'] = f'{name}'
    return df_stock


df_petr4 = prepare_df(df_bolsa, 'PETR4')
df_vale3 = prepare_df(df_bolsa, 'VALE3')

/tmp/ipykernel_28344/580480227.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stock['Date'] = df_bolsa['Date']
/tmp/ipykernel_28344/580480227.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stock['stock'] = f'{name}'
/tmp/ipykernel_28344/580480227.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stock['Date'] = df_bolsa['Date']
/tmp/ipykernel_28344/580480227.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stock['stock'] = f'{name}'

In [53]:

# Verificando os tipos das colunas 'data'
print(df_trimestral.index.dtype)
print(df_bolsa.index.dtype)

int64
int64

In [59]:
def merge_df_with_demonstratives(df_stock, df_trimestrais_dict, stock_trimestrais_name):
    df_trimestral = df_trimestrais_dict[stock_trimestrais_name]
    # Resetando o índice do df_trimestral para fazer a junção
    df_trimestral_reset = df_trimestral.reset_index()

    # Fazendo a junção
    df_resultado = pd.merge_asof(df_stock, df_trimestral, on='Date', direction='backward')

    # Configurando o índice de volta para 'data'
    df_resultado.set_index('Date', inplace=True)
    df_resultado = df_resultado.drop('Amortização/Depreciação', axis='columns')

    print(df_resultado.info())
    # Visualizando o resultado
    return df_resultado

# df_trimestral = df_trimestrais[0]
# # Resetando o índice do df_trimestral para fazer a junção
# df_trimestral_reset = df_trimestral.reset_index()

# # Fazendo a junção
# df_resultado = pd.merge_asof(df_bolsa, df_trimestral, on='Date', direction='backward')

# # Configurando o índice de volta para 'data'
# df_resultado.set_index('Date', inplace=True)

# print(df_resultado.info())
# # Visualizando o resultado
# df_resultado.head()


df_petr4_merged = merge_df_with_demonstratives(df_petr4, df_trimestrais_dict, 'PETR4_AH')
df_vale3_merged = merge_df_with_demonstratives(df_vale3, df_trimestrais_dict, 'VALE3_AH')

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 499 entries, 2022-06-01 to 2024-05-31
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Open                                   499 non-null    float64
 1   High                                   499 non-null    float64
 2   Low                                    499 non-null    float64
 3   Close                                  499 non-null    float64
 4   Adj Close                              499 non-null    float64
 5   Volume                                 499 non-null    float64
 6   stock                                  499 non-null    object
 7   Receita Líquida - (R$)                 499 non-null    float64
 8   Custos - (R$)                          499 non-null    float64
 9   Lucro Bruto - (R$)                     499 non-null    float64
 10  Despesas/Receitas Operacionais - (R$)  499 non-null    float64
 11  EBITDA - (R$)                          499 non-null    float64
 12  EBIT - (R$)                            499 non-null    float64
 13  Resultado Financeiro - (R$)            499 non-null    float64
 14  Impostos - (R$)                        499 non-null    float64
 15  Lucro Líquido - (R$)                   499 non-null    float64
 16  Lucro atribuído a Controladora         499 non-null    float64
 17  Lucro atribuído a Não Controladores    499 non-null    float64
 18  Dívida Bruta - (R$)                    499 non-null    float64
 19  Margem Bruta - (%)                     499 non-null    float64
 20  Margem Ebitda - (%)                    499 non-null    float64
 21  Margem Líquida - (%)                   499 non-null    float64
dtypes: float64(21), object(1)
memory usage: 89.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 499 entries, 2022-06-01 to 2024-05-31
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Open                                   499 non-null    float64
 1   High                                   499 non-null    float64
 2   Low                                    499 non-null    float64
 3   Close                                  499 non-null    float64
 4   Adj Close                              499 non-null    float64
 5   Volume                                 499 non-null    float64
 6   stock                                  499 non-null    object
 7   Receita Líquida - (R$)                 499 non-null    float64
 8   Custos - (R$)                          499 non-null    float64
 9   Lucro Bruto - (R$)                     499 non-null    float64
 10  Despesas/Receitas Operacionais - (R$)  499 non-null    float64
 11  EBITDA - (R$)                          499 non-null    float64
 12  EBIT - (R$)                            499 non-null    float64
 13  Resultado Financeiro - (R$)            499 non-null    float64
 14  Impostos - (R$)                        499 non-null    float64
 15  Lucro Líquido - (R$)                   499 non-null    float64
 16  Lucro atribuído a Controladora         499 non-null    float64
 17  Lucro atribuído a Não Controladores    499 non-null    float64
 18  Dívida Bruta - (R$)                    499 non-null    float64
 19  Margem Bruta - (%)                     499 non-null    float64
 20  Margem Ebitda - (%)                    499 non-null    float64
 21  Margem Líquida - (%)                   499 non-null    float64
dtypes: float64(21), object(1)
memory usage: 89.7+ KB
None

In [62]:
if not os.path.exists('TimeSerie'):
    os.mkdir('TimeSerie')
df_petr4_merged.to_csv(os.path.join("TimeSerie","PETR4_time_series.csv"))
df_vale3_merged.to_csv(os.path.join("TimeSerie","VALE3_time_series.csv"))